<div class="index-wrapper">
  <div class="container">
    <div class="panel-headding">
      <h1 class="text-center">現在地取得ツール</h1>
    </div>
    </div>
    <div class="panel-body row">
      <div class="col-md-2 col-md-offset-4">
        <select class="form-control" id="range">
          <option value="1">現在地から300m以内の</option>
          <option value="2">現在地から500m以内の</option>
          <option value="3">現在地から1km以内の</option>
          <option value="4">現在地から2km以内の</option>
          <option value="5">現在地から3km以内の</option>
        </select>
      </div>
        <button class="btn btn-danger col-md-2" onclick="getPosition();">店舗を検索する</button>
    </div>
  </div>
</div>

<%# <%= select_tag 'name', options_for_select({'300m': 1, '500m': 2, '1km': 3, '2km': 4, '3km': 5}, 1), include_blank: false %>



<script>
    // 現在地取得処理
    function getPosition() {
      // 現在地を取得
      navigator.geolocation.getCurrentPosition(
        // 取得成功した場合
        function(position) {
            const range = document.getElementById("range").value
            window.location.href = "/shops/search_location?latitude="+position.coords.latitude+"&longitude="+position.coords.longitude+"&range="+range
            // $.ajax({
            //   url: "/shops/search_location",
            //   type: "POST",
            //   dataType: 'html',
            //   data: {latitude : position.coords.latitude,
            //         longitude : position.coords.longitude},
            // });
        },
        // 取得失敗した場合
        function(error) {
          switch(error.code) {
            case 1: //PERMISSION_DENIED
              alert("位置情報の利用が許可されていません");
              break;
            case 2: //POSITION_UNAVAILABLE
              alert("現在位置が取得できませんでした");
              break;
            case 3: //TIMEOUT
              alert("タイムアウトになりました");
              break;
            default:
              alert("その他のエラー(エラーコード:"+error.code+")");
              break;
          }
        }
      );
    }
  </script>